doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        div
          img(src='/images/01.png', width='1280')
      section(style=' width: 100% ;left: 0; background: url(/images/background.jpg) no-repeat fixed')
        div(style='height: 100%;')
          div(style='float : left; margin-left: 150px; ')
            img(src='/images/02.png', style='width: 900px; margin-top: -50px;')
          div(style='float:left; margin-left: 100px; margin-top:50px;')
            ul
              h2
                li DIRECTORY
              li What is League of Legends?
              li Game Modes
              li The Maps
              li Champion Type
              li Champion Selection
              li Item Selection
              li Closing
      section(style=' width: 100% ;left: 0; background: url(/images/background.jpg) no-repeat fixed')
        div(style='height: 100%;')
          div(style='float : right; margin-right: -1000px; ')
            img(src='/images/03.png', style='width: 900px; margin-top: -50px;')
          div(style='float:right; margin-right: -50px; margin-top:50px;')
            ul
              h3
                li League of Legends
              li #1 Most played onine game
              li Made by Riot Games
              li Free to Play
              li MOBA (Multiple Online Battle Arena)
      section(style=' width: 75% ; margin-left: -650px;  background:url(/images/04.png) no-repeat fixed')
        ul
          li
      section
        h2 Responsive Slides
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-scale') bespoke-scale
      section
        h2 Bullet List
        h3.bullet
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-bullets') bespoke-bullets
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3
      section
        h2 Syntax Highlighting
        h3
          | Powered by 
          a(href='http://twitter.com/LeaVerou') Lea Verou
          | 's 
          a(href='https://github.com/LeaVerou/prism') Prism
        pre.
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-hash') bespoke-hash
        p
          | Look up! This route has been named with a 
          em 'data-bespoke-hash'
          |  attribute.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-backdrop') bespoke-backdrop
      section
        h2.bullet Just the beginning...
        br
        ul
          li
            | Edit 
            a(href='http://jade-lang.com/') Jade
            |  markup in 
            em 'src/index.jade'
          li
            | Edit 
            a(href='http://learnboost.github.io/stylus/') Stylus
            |  styles in 
            em 'src/styles/main.styl'
          li
            | Edit JavaScript in 
            em 'src/scripts/main.js'
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    script(src='build/build.js')
